<h2>Create Title Abstract</h2>
<form [formGroup]="form" (ngSubmit)="save()" class="form-grid">
  <!-- Title Abstract Main Fields -->
  <div class="form-group">
    <label>Order No: <input formControlName="orderNo" /></label><br />
  </div>

  <div class="form-group">
    <label>Search Date: <input type="date" formControlName="searchDate" /></label><br />
  </div>

  <div class="form-group">
    <label>Effective Date: <input type="date" formControlName="effectiveDate" /></label><br />
  </div>

  <div class="form-group">
    <label>Property: <input formControlName="propertyAddress" /></label><br />
  </div>

  <div class="form-group">
    <label>Client: <input formControlName="client" /></label><br />
  </div>

  <div class="form-group">
    <label>Client Ref No: <input formControlName="clientRefNo" /></label><br />
  </div>

  <div class="form-group">
    <label>Product Type: <input formControlName="productType" /></label><br />
  </div>
  <div class="form-actions">
    <button type="submit">Save</button>
  </div>
</form>
